/* @font-face {
  font-family: SVN-Gotham;
  src: url(./assets/font/SVN-Gotham\ Regular.otf);
}
@font-face {
  font-family: SVN-Gotham-Bold;
  font-weight: 700;
  src: url(./assets/font/SVN-Gotham\ Bold.otf);
} */

body {
  font-size: 14px;
  letter-spacing: 2px;
  /* font-family: "SVN-Gotham"; */
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #916841;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
